# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
df = pd.read_csv('weather.csv')
df[df.Country == "US"].head()

,City,Country,Longitude,Latitude,Humidity,Cloudiness,Max_Temp,Wind_Speed,Date
5,Lompoc,US,-120.46,34.64,52,40,68.000,4.60,"(2020, 3, 22)"
21,Cameron Park,US,-120.99,38.67,51,1,66.992,3.60,"(2020, 3, 22)"
26,Saint George,US,-113.58,37.10,44,1,62.006,1.17,"(2020, 3, 22)"
33,Rome,US,-75.46,43.21,32,1,41.000,4.10,"(2020, 3, 22)"
34,Jamestown,US,-79.24,42.10,27,1,44.006,5.10,"(2020, 3, 22)"

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
coordinates = df[['Latitude', 'Longitude']].astype(float)

In [4]:
# Customize the size of the figure
figure_layout = {
    'width': '600px',
    'height': '450px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}



fig = gmaps.figure(layout=figure_layout)

In [5]:
humidity = df.Humidity.dropna().astype(float)

heat_layer = gmaps.heatmap_layer(coordinates, weights=humidity, 
                                 dissipating=True, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='450px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
df = df.dropna()

In [7]:
def is_nice_max_temp(temp):
    temp = float(temp)
    return(70 < temp & temp < 80)
def is_nice_wind_speed(speed):
    return(speed < 10)
def is_not_cloudy_all_day(cloudiness):
    return(cloudines == 0)

In [8]:
nice_df = df[df.Max_Temp > 70]\
[df.Max_Temp < 80]\
[df.Wind_Speed < 10]\
[df.Cloudiness == 0]

nice_df.head()

/home/rob/Code/PythonDataNW/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/home/rob/Code/PythonDataNW/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/home/rob/Code/PythonDataNW/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

,City,Country,Longitude,Latitude,Humidity,Cloudiness,Max_Temp,Wind_Speed,Date
15,Castro,BR,-50.01,-24.79,61,0,70.034,1.81,"(2020, 3, 22)"
101,Monywa,MM,95.13,22.12,47,0,71.294,1.41,"(2020, 3, 22)"
103,Hambantota,LK,81.12,6.12,80,0,76.874,3.93,"(2020, 3, 22)"
117,Callaguip,PH,120.49,18.07,76,0,75.254,2.51,"(2020, 3, 22)"
119,Taoudenni,ML,-3.98,22.68,12,0,74.714,4.43,"(2020, 3, 22)"

In [9]:
nice_df.City.value_counts()

Prachuap Khiri Khan              1
Hong Kong                        1
Bahía Honda                      1
Carnarvon                        1
Callaguip                        1
Saint-Pierre                     1
Giohar                           1
Castro                           1
Mersing                          1
Emilio Carranza                  1
Alindao                          1
Libertador General San Martín    1
Concepción del Oro               1
Ārvi                             1
Quang Ngai                       1
Angoche                          1
Buin                             1
Matara                           1
Charters Towers                  1
Taoudenni                        1
Morondava                        1
Hambantota                       1
Monywa                           1
Chui                             1
Puerto Baquerizo Moreno          1
Saint-Joseph                     1
Jammalamadugu                    1
Najrān                           1
Name: City, dtype: int64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
hotel_df = pd.DataFrame(nice_df.City)

In [11]:
params1 = {
    "location": f"{nice_df.Latitude}, {nice_df.Longitude}",  # philadelphia coords,
    "rankby": "distance",
    "type": "hotel",
    "key": g_key,
}

In [14]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "rankby": "distance",
    "type": "hotel",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in nice_df.iterrows():

    # get location from df
    latlon = row[['Latitude', 'Longitude']]

    # add keyword to params dict
    params['location'] = f"{latlon[0]}, {latlon[1]}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: .")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        hotel_df.loc[index, 'Lat'] = results[0]['geometry']['location']['lat']
        hotel_df.loc[index, 'Lng'] = results[0]['geometry']['location']['lng']
        
        nice_df.loc[index, 'Hotel Name'] = results[0]['name']
        nice_df.loc[index, 'Lat'] = results[0]['geometry']['location']['lat']
        nice_df.loc[index, 'Lng'] = results[0]['geometry']['location']['lng']

        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 15: .
Closest hotel is Eugênio Consertos e Instalações Eletricas.
------------
Retrieving Results for Index 101: .
Closest hotel is မုံရွာပြည်သူ့ဆေးရုံကြီး.
------------
Retrieving Results for Index 103: .
Closest hotel is Happy Beach Hotel.
------------
Retrieving Results for Index 117: .
Closest hotel is Zone 1 Basketball Court.
------------
Retrieving Results for Index 119: .
Closest hotel is Ksar de Smida.
------------
Retrieving Results for Index 123: .
Closest hotel is Club De Abuelos Dan Miguel.
------------
Retrieving Results for Index 160: .
Closest hotel is Cancha Sintetica Herminio Arrieta.
------------
Retrieving Results for Index 210: .
Closest hotel is Dwyer's Leap.
------------
Retrieving Results for Index 223: .
Closest hotel is Mosman Park.
------------
Retrieving Results for Index 249: .
Closest hotel is Maison RUN.
------------
Retrieving Results for Index 256: .
Closest hotel is 維景小食.
------------
Retrieving Results for Index 258: .
Closest hotel is Case à Pâtes.
------------
Retrieving Results for Index 268: .
Closest hotel is Colegio Ignacio Hernández.
------------
Retrieving Results for Index 272: .
Closest hotel is Boy's guest house.
------------
Retrieving Results for Index 286: .
Closest hotel is مطعم شعبيات الذوق.
------------
Retrieving Results for Index 300: .
Closest hotel is Paralam global pvt ltd.
------------
Retrieving Results for Index 303: .
Closest hotel is esc perparatoria Eulalio Gutierres.
------------
Retrieving Results for Index 306: .
Closest hotel is Garasoow Coffee.
------------
Retrieving Results for Index 329: .
Closest hotel is Mueblería Viveros.
------------
Retrieving Results for Index 366: .
Closest hotel is GOUTHAM SCHOOL.
------------
Retrieving Results for Index 381: .
Closest hotel is Agribank Chi Nhánh Tỉnh Quảng Ngãi.
------------
Retrieving Results for Index 382: .
Closest hotel is Kedai Emas Zhen Mei.
------------
Retrieving Results for Index 383: .
Closest hotel is Badia Diaz- Faez Maria Isabel.
------------
Retrieving Results for Index 444: .
Closest hotel is Lycee Pole Morondava I.
------------
Retrieving Results for Index 460: .
Closest hotel is โรงรับจำนำจี้อันตึ๊ง สาขาประจวบคีรีขันธ์.
------------
Retrieving Results for Index 502: .
Closest hotel is Cathédrale Sacré-Cœur.
------------
Retrieving Results for Index 508: .
Closest hotel is Cementerio.
------------
Retrieving Results for Index 520: .
Closest hotel is Midland Saloon.
------------

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in nice_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [18]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
# Display Map
fig

Figure(layout=FigureLayout(border='1px solid black', height='450px', margin='0 auto 0 auto', padding='1px', wi…